﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="../../resources/favicon.ico" rel="icon">
    <link href="../../css/bootstrap-grid.css" rel="stylesheet"/>
    <link href="../../css/bootstrap.css" rel="stylesheet"/>
    <link href="../../css/custom.css" rel="stylesheet"/>
    <title>@Page.Title</title>
    @RenderSection( "head" , false )
</head>
<body>
<div class="container">
    <header class="row w-100">
        <nav class="navbar navbar-toggleable-md m-md-auto w-100">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-md-5" href="@Url.Action( "Index" , "Home" )">
                <img src="../../resources/faviconwebshop.png" alt="logo"/>
                e-Mensa
            </a>
            <div class="navbar-nav mx-md-5 mr-auto">
                @*<a class="nav-item nav-link" href="../view/Start.cshtml">Start</a>*@

                @Html.ActionLink( "Start" , "Index" , "Home" , null , new { @class = "nav-item nav-link" } )
                @Html.ActionLink( "Mahlzeiten" , "Produkt" , "Home" , null , new { @class = "nav-item nav-link" } )
                @Html.ActionLink( "Bestellung" , "" , "Home" , null , new { @class = "nav-item nav-link" } )
                @*<a class="nav-item nav-link" href="../view/produkte.cshtml">Mahlzeiten</a>
                <a class="nav-item nav-link disabled" href="#">Bestellung</a>*@
                <a target="_blank" class="nav-item nav-link" href="https://www.fh-aachen.de">FH Aachen</a>
            </div>
            <div class="navbar-nav ml-auto">
                <form id="search_header" class="nav-item form-inline" method="get" action="http://www.google.de/search">
                    <!--https://www.google.de/search?as_sitesearch=www.fh-aachen.de&q=remmy&search_header_button=Suchen&gws_rd=ssl-->
                    <fieldset>
                        <div class="input-group">
                            <input type="hidden" value="www.fh-aachen.de" name="as_sitesearch"/>
                            <label class="sr-only" for="search_header_input">Input</label>
                            <div class="input-group-addon">
                                <img src="../../resources/glyphicons/png/glyphicons-28-search.png" alt="searchicon"/>
                            </div>
                            <input class="form-control" type="search" id="search_header_input" name="q" placeholder="Suchen.."/>
                            <label class="sr-only" for="search_header_button">Action</label>
                            <input class="btn btn-outline-info ml-md-2" type="submit" name="search_header_button" id="search_header_button" value="Suchen"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="row w-100">
        <hr style="margin: 18px"/>
        <nav class="navbar navbar-toggleable-md m-md-auto w-100">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link disabled" href="#">(c) 2017 Simon Westfechtel @DateTime.Now.ToString( "HH:mm:ss" )</a>
                @*<a class="nav-item nav-link" href="../view/Login.cshtml">Login</a>*@
                @{
                    if ( Session ["user"] == null ) {
                        @Html.ActionLink( "Login" , "Login" , "Account" , null , new { @class = "nav-item nav-link" } )
                        ;
                        @Html.ActionLink( "Registrieren" , "Registrieren" , "Account" , null , new { @class = "nav-item nav-link" } )
                        ;
                    }
                    else {
                        @Html.ActionLink( "User CP" , "UCP" , "Account" , null , new { @class = "nav-item nav-link" } )
                        ;
                    }
                }

                <a class="nav-item nav-link disabled" href="#">Zutatenliste</a>
                @Html.ActionLink( "Impressum" , "Impressum" , "Home" , null , new { @class = "nav-item nav-link" } )
            </div>
        </nav>
    </footer>
</div>
</body>
</html>