﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
@model  LoginListe 
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "Login | e-Mensa FHAC";
    }

</head>
<body>
@{
    if ( Model != null ) {
        <div class="alert alert-danger" role="alert">
            <strong>Achtung!</strong> @Model.Fehlermeldung
        </div>
    }
}
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4 table-bordered p-md-2">


        <form id="details_login" action="@Url.Action( "Login" )" method="post">
            <fieldset>
                <label for="details_login_usr">Login</label>
                <input class="form-control" type="text" id="details_login_usr" name="details_login_usr" placeholder="Benutzer"/>
                <input class="form-control my-md-2" type="password" id="details_login_pass" name="details_login_pass" placeholder="Passwort"/>
                <input class="btn btn-outline-info mt-md-3 w-75" type="submit" name="details_login_button" id="details_login_button" value="Anmelden"/>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

</body>
</html>