﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "Registrieren | e-Mensa FHAC";
    }
    <script>
        function myFunction() {
            var txt = "";
            if (document.getElementById("register_pw1").value !== document.getElementById("register_pw2").value) {
                txt = "Passwörter nicht identisch!";
                if (document.getElementById("register_pw2_div").classList.contains('has-success')) {
                    document.getElementById("register_pw2_div").classList.remove('has-success');
                }
                document.getElementById("register_pw2_div").classList.add('has-warning');
                document.getElementById("register_feedback").innerHTML = txt;
                document.getElementById("register_submit").disabled = true;
            } else {
                txt = "";
                if (document.getElementById("register_pw2_div").classList.contains('has-warning')) {
                    document.getElementById("register_pw2_div").classList.remove('has-warning');
                }
                document.getElementById("register_pw2_div").classList.add('has-success');
                document.getElementById("register_feedback").innerHTML = txt;
                document.getElementById("register_submit").disabled = false;
            }
        }
    </script>
</head>
<body>
<div class="row">
    <div class="col-md-10 p-md-2">
        <form id="register" action="@Url.Action( "Registrieren" )" method="post">
            <h2>Registrieren</h2>
            <fieldset class="form-group row">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" onclick="document.getElementById('register_reason').disabled = false;document.getElementById('register_staffnumber').disabled = true;document.getElementById('register_fon').disabled = true;document.getElementById('register_office').disabled = true;document.getElementById('register_matr').disabled = true;document.getElementById('register_stud').disabled = true;" type="radio" name="register_type" value="1" checked="checked">
                        Gast
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" onclick="document.getElementById('register_reason').disabled = true;document.getElementById('register_staffnumber').disabled = true;document.getElementById('register_fon').disabled = true;document.getElementById('register_office').disabled = true;document.getElementById('register_matr').disabled = false;document.getElementById('register_stud').disabled = false;" type="radio" name="register_type"value="2">
                        Student
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" onclick="document.getElementById('register_reason').disabled = true;document.getElementById('register_staffnumber').disabled = false;document.getElementById('register_fon').disabled = false;document.getElementById('register_office').disabled = false;document.getElementById('register_matr').disabled = true;document.getElementById('register_stud').disabled = true;" type="radio" name="register_type"value="3">
                        Mitarbeiter
                    </label>
                </div>
            </fieldset>


            <div class="form-group row">
                <label for="register_nickname" class="col-4 col-form-label">Loginname</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_nickname" name="register_nickname" placeholder="1-24 Zeichen" required/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_email" class="col-4 col-form-label">Mail-Adresse</label>
                <div class="col-6">
                    <input class="form-control" type="email" id="register_email" name="register_email" placeholder="user@example.com" required/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_name" class="col-4 col-form-label">Vorname</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_name" name="register_name" placeholder="Ihr Vorname" required/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_surname" class="col-4 col-form-label">Nachname</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_surname" name="register_surname" placeholder="Ihr Nachname" required/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_pw1" class="col-4 col-form-label">Passwort</label>
                <div class="col-6">
                    <input class="form-control" type="password" id="register_pw1" name="register_pw1" placeholder="Gewünschtes Passwort" required/>
                </div>

            </div>

            <div class="form-group row" id="register_pw2_div">
                <label for="register_pw2" class="col-4 col-form-label">Passwort wiederholen</label>
                <div class="col-6">
                    <input class="form-control" type="password" id="register_pw2" name="register_pw2" placeholder="Passwort wiederholen" oninput="myFunction()" required/>
                    <div class="form-control-feedback" id="register_feedback"></div>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_reason" class="col-4 col-form-label">Grund (Gast)</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_reason" name="register_reason" placeholder="Grund"/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_staffnumber" class="col-4 col-form-label">Mitarbeiternummer (Mitarbeiter)</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_staffnumber" name="register_staffnumber" placeholder="Ihre Mitarbeiternummer"/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_fon" class="col-4 col-form-label">Telefonnummer (Mitarbeiter)</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_fon" name="register_fon" placeholder="Ihre Telefonnummer"/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_office" class="col-4 col-form-label">Büro (Mitarbeiter)</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_office" name="register_office" placeholder="Ihr Büro"/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_matr" class="col-4 col-form-label">Matrikelnummer (Student)</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_matr" name="register_matr" placeholder="Ihre Matrikelnummer"/>
                </div>

            </div>

            <div class="form-group row">
                <label for="register_stud" class="col-4 col-form-label">Studiengang (Student)</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_stud" name="register_stud" placeholder="Ihr Studiengang"/>
                </div>

            </div>
            <div class="form-group row">
                <input class="btn btn-outline-info mt-md-3 w-75" type="submit" name="register_submit" id="register_submit" value="Abschicken" disabled=""/>
            </div>
        </form>
    </div>
</div>

</body>
</html>