﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
@model webshop_v3.Models.RegistrierenListe 
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "Registrieren | e-Mensa FHAC";
    }
</head>
<body>
<div class="row">
    <div class="col-md-10 p-md-2">
        <form id="register" action="@Url.Action( "Registrieren_Nick" , Model )" method="post">
            <h2>Registrieren</h2>

            <div class="form-group row has-danger">
                <label for="register_nickname" class="col-4 col-form-label">Loginname</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="register_nickname" name="register_nickname" placeholder="1-24 Zeichen" required/>
                </div>
                <div class="form-control-feedback">Es existiert bereits ein Account mit diesem Loginnamen.</div>
            </div>


            <div class="form-group row">
                <input class="btn btn-outline-info mt-md-3 w-75" type="submit" name="register_submit" id="register_submit" value="Abschicken"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>