﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
@model  List < IEnumerable < webshop_v3.DataModels.FeNutzer > > 
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "UCP | e-Mensa FHAC";
    }
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="font-weight-normal">Hallo @( ( ( User ) Session ["user"] ).Alias ), Sie sind angemeldet als @( ( ( User ) Session ["user"] ).Role ).</p>
        @{
            if ( ( ( User ) Session ["user"] ).Date == "01.01.0001 00:00:00" ) {
                <p class="font-weight-normal">Dies ist Ihr erster Besuch. Herzlich Willkommen bei e-Mensa!</p>
            }
            else {
                <p class="font-weight-normal">Ihr letzter Besuch war am @( ( ( User ) Session ["user"] ).Date )</p>
            }
        }
    </div>
    <div class="col-md-4"></div>
</div>
    @{
        if ( ( ( User ) Session ["user"] ).Role == "BackendNutzer" ) {
            var loginQuery = Model[0];
            var registerQuery = Model[1];
            <div class="row">
                <div class="col-md-6">
                    <h2>Letzte Anmeldungen</h2>
                </div>
                <div class="col-md-6">
                    <h2>Letzte Registrierungen</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Zeitpunkt</th>
                            <th>Login-Name (E-Mail)</th>
                            <th>Aktion</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach ( var user in loginQuery ) {
                            var sqlController = new SqlController ();
                            var rolle = sqlController.GetRole ( user.NR );

                            <tr class="table-success" id="@user.NR" data-toggle="tooltip" title="ID: @user.NR, Rolle:@rolle">
                                <th>@user.LetzterLogin</th>
                                <th>@user.Loginname (@user.Email)</th>
                                <th>@Html.ActionLink( "Deaktivieren" , "DeactivateUser", "Account", new {id = user.NR}, null)</th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Zeitpunkt</th>
                            <th>Login-Name (E-Mail)</th>
                            <th>Aktion</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach ( var user in registerQuery ) {
                            var sqlController = new SqlController ();
                            var rolle = sqlController.GetRole ( user.NR );

                            <tr class="table-danger" id="@user.NR" data-toggle="tooltip" title="ID: @user.NR, Rolle:@rolle">
                                <th>@user.Anlegedatum</th>
                                <th>@user.Loginname (@user.Email)</th>
                                <th>@Html.ActionLink("Aktivieren", "ActivateUser", "Account", new { id = user.NR }, null)</th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }


<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" action="@Url.Action( "Ausloggen" )">
            <input class="btn btn-danger" type="submit" id="abmelden_btn" name="abmelden_btn" value="Abmelden">
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
</body>