﻿@using webshop_v3.Models
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
@{
    if ( Session ["user"] != null && ( ( User ) Session ["user"] ).Role == "BackendNutzer" ) {
        Layout = "Shared/_BackendLayout.cshtml";
    }
    else {
        Layout = "Shared/_Layout.cshtml";
    }
}
</body>
</html>