﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
@model webshop_v3.Models.DetailsListe 
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "Details | e-Mensa FHAC";
        //var controller = new SqlController();
        //var produkte = controller.GetProdukte();
        //var bilder = controller.GetBilder();
    }
    @section head
    {
        <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../../js/bootstrap.js"></script>
        <script type="text/javascript" defer>
            $('#details_tabs a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
            });
        </script>
    }
</head>
<body>


<div class="row w-100 mb-md-3">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        @*<h1 class="m-auto">Details für "Falafel"</h1>*@
        <h1 class="m-auto">Details für @Model.Produkt.Name</h1>
    </div>
</div>
<div class="row w-100">
    <div class="col-md-3 table-bordered p-md-2">
        @{
            if ( Session ["user"] == null ) {
                <form id="details_login" action="@Url.Action( "Login" , "Account" )" method="post">
                    <fieldset>
                        <label for="details_login_usr">Login</label>
                        <input class="form-control" type="text" id="details_login_usr" name="details_login_usr" placeholder="Benutzer"/>
                        <input class="form-control my-md-2" type="password" id="details_login_pass" name="details_login_pass" placeholder="Passwort"/>
                        <input class="btn btn-outline-info mt-md-3 w-75" type="submit" name="details_login_button" id="details_login_button" value="Anmelden"/>
                    </fieldset>
                </form>
            }
            else {
                <form method="get" action="@Url.Action( "UCP" , "Account" )">
                    <button type="submit" class="btn btn-primary w-75 mt-md-1 float-right text-left">
                        <img src="../../resources/glyphicons/png/glyphicons-524-user-asterisk.png" alt="asteriskicon"/>
                        <span class="ml-md-2">User CP</span>
                    </button>
                </form>
            }
        }

    </div>
    @*<div class="col-md-6">
                    <div style="background-color: lightseagreen; height: 250px;">Placeholder</div>
                </div>*@
    <div class="col-md-6">
        <img src="data:image/gif;base64,@Model.Bild.Binaerdaten" alt="@Model.Bild.AltText"/>
    </div>
    <div class="col-md-3">
        @*<p class="font-weight-bold">
                        Gast-Preis<br/>
                        5,95€

                    </p>*@
        <p class="font-weight-bold">
            @Model.PreisBezeichner<br/>
            @Model.Preis €
        </p>
        <button type="button" class="btn btn-outline-success text-left">
            <img src="../../resources/glyphicons/png/glyphicons-277-cutlery.png" alt="cutleryicon"/>
            <span class="ml-md-2">Vorbestellen</span>
        </button>
    </div>
</div>
<div class="row w-100 mt-md-4">
    <div class="col-md-3 p-md-2">
        <p class="font-weight-normal">
            Melden Sie sich jetzt an, um die wirklich viel günstigeren Preise für Mitarbeiter
            oder Studenten zu sehen.
        </p>
    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs" id="details_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#info" role="tab">Beschreibung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ingredients" role="tab">Zutaten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ratings" role="tab">Bewertungen</a>
            </li>
        </ul>
        <div class="tab-content">
            @*<div class="tab-pane active" id="info" role="tabpanel">
                            <p class="font-weight-normal">
                                Teigtasche mit Falafel aus Kichererbsen und Sesam, dazu passt hervorragend der <a href="#">Krautsalat</a>.
                            </p>
                        </div>*@
            <div class="tab-pane active" id="info" role="tabpanel">
                <p class="font-weight-normal">
                    @Model.Produkt.Beschreibung
                </p>
            </div>
            <div class="tab-pane" id="ingredients" role="tabpanel">
                <p class="font-weight-normal">
                    Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It’s not a story the Jedi would tell you.
                    It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life…
                    He had such a knowledge of the dark side that he could even keep the ones he cared about from dying.
                    The dark side of the Force is a pathway to many abilities some consider to be unnatural.
                    He became so powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did.
                    Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep.
                    Ironic. He could save others from death, but not himself.
                </p>
            </div>
            <div class="tab-pane" id="ratings" role="tabpanel">
                <form id="details_ratings" method="post" action="http://bc5.m2c-lab.fh-aachen.de:8080/data.php">
                    <fieldset>
                        <label for="benutzer">Benutzername</label>
                        <input type="text" class="form-control my-md-2" name="benutzer" id="benutzer" placeholder="Benutzer"/>

                        <label for="bewertung">Ihre Bewertung (1-5)</label>
                        <input type="range" min="1" max="5" class="form-control my-md-2" name="bewertung" id="bewertung"/>

                        <label for="bemerkung">Ihre Bemerkung</label>
                        <textarea class="form-control my-md-2" name="bemerkung" id="bemerkung" placeholder="Kommentar.." rows="3"></textarea>
                        <input type="hidden" class="form-control" name="matrikelnummer" id="matrikelnummer" value="3120254"/>
                        <input type="hidden" class="form-control" name="kontrolle" id="kontrolle" value="wes"/>
                        <input class="btn btn-outline-success my-md-2" type="submit" name="details_ratings_button" id="details_ratings_button" value="Abschicken"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>