﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "Impressum | e-Mensa FHAC";
    }
    @section head {
        <meta http-equiv="refresh" content="3;url=@Url.Action("Index")"/>
    }
</head>
<body>

<div class="text-center">
    <p class="font-weight-normal">Sie werden in 3 Sekunden weitergeleitet.</p>
</div>

</body>
</html>