﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
@model webshop_v3.Models.Menu
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "Start | e-Mensa FHAC";
    }
</head>
<body>
<div class="row w-100">
    <figure class="m-md-auto w-100" style="background-color: lightseagreen; height: 200px;">Placeholder</figure>
</div>
<div class="row w-100 my-md-3">
    <div class="col-md-3">
        <p class="font-weight-normal">
            Der Dienst der <strong>e-Mensa</strong> ist noch beta. Sie können bereits @Html.ActionLink( "Mahlzeiten" , "Produkt" )
            durchstöbern, aber noch nicht bestellen.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Leckere Gerichte vorbestellen</h3>
        <p class="font-weight-normal">
            ... und gemeinsam mit Kommilitonen und Freunden essen
        </p>
    </div>
    @{
        if ( Session ["user"] == null ) {
            <div class="col-md-3">

                <form method="get" action="@Url.Action( "Registrieren" , "Account" )">
                    <button type="submit" class="btn btn-primary w-75 mt-md-1 float-right text-left">
                        <img src="../../resources/glyphicons/png/glyphicons-526-user-key.png" alt="keyicon"/>
                        <span class="ml-md-2">Registrieren</span>
                    </button><br/>
                </form>

                <form method="get" action="@Url.Action( "Login" , "Account" )">
                    <button type="submit" class="btn btn-primary w-75 mt-md-1 float-right text-left">
                        <img src="../../resources/glyphicons/png/glyphicons-524-user-asterisk.png" alt="asteriskicon"/>
                        <span class="ml-md-2">Anmelden</span>
                    </button>
                </form>
            </div>
        }
    }

</div>
<div class="row w-100">
<div class="col-md-3">
    @if ( Session ["user"] == null ) {

        <p class="font-weight-normal">
            Registrieren Sie sich @Html.ActionLink( "hier" , "Registrieren" , "Account" ), um über die Veröffentlichung des Dienstes per Mail informiert zu werden.
        </p>
        
    }
</div >
    @*<div class="col-md-9" style="background-color: lightseagreen; height: 150px;">Placeholder</div>*@<div class="col-md-9">
        @{
            SqlController sqlController = new SqlController ();
            if ( Model != null ) {
                <h2>Heutiges Menu: @Model.Motto (KW @Model.KalenderWoche)</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Typ</td>
                        <td>Mahlzeit</td>
                        <td>Preis</td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach ( var produkt in Model.Produkte ) {
                        <tr>
                            <td>@produkt.Key</td>
                            <td>
                                @produkt.Value.Name<br/>
                                @produkt.Value.Beschreibung
                            </td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Gast</td>
                                        <td>Mitarbeiter</td>
                                        <td>Student</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>@sqlController.GetProduktPreis( produkt.Value.Id ).Gastpreis €</td>
                                        <td>@sqlController.GetProduktPreis( produkt.Value.Id ).Mitarbeiterpreis €</td>
                                        <td>@sqlController.GetProduktPreis( produkt.Value.Id ).Studentenpreis €</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            }
        }
    </div>
</div>

</body>
</html>