﻿@using webshop_v3.Models;
@using webshop_v3.DataModels;
@model webshop_v3.Models.ProduktListe 
<!DOCTYPE html>
<html>
<head>
    @{
        Page.Title = "Produkte | e-Mensa FHAC";
    }
    @section head
    {
        <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.dropdown-toggle').dropdown();
            });
        </script>
    }

</head>
<body>


<div class="row w-100 mb-md-3">
    <div class="col-md-3"></div>
    <div class="col-md-9">

        <h1 class="m-auto">Verfügbare Speisen (@Model.Beschreibung)</h1>
    </div>
</div>
<div class="row w-100">
    <aside class="col-md-3 table-bordered p-md-2">
        <form id="filter_items" method="get" action="#">
            <fieldset>
                <select class="custom-select w-75 mb-md-5" id="filter_items_dropdown" name="kategorie">
                    @foreach ( var kategorie in Model.Oberkategorien ) {
                        <optgroup label="@kategorie.Bezeichnung">
                            @foreach ( var unterkategorie in Model.Unterkategorien ) {
                                if ( unterkategorie.Oberkategorie == kategorie.Id ) {
                                    <option value="@unterkategorie.Id">@unterkategorie.Bezeichnung</option>
                                }
                            }
                        </optgroup>
                    }
                </select>
                @*<fieldset class="my-md-5">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value=""/>
                                    nur verfügbare
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value=""/>
                                    nur vegetarische
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value=""/>
                                    nur vegane
                                </label>
                            </div>
                        </fieldset>*@
                <input class="btn btn-outline-info mt-md-5 w-75" type="submit" @*name="filter_items_button" id="filter_items_button"*@ value="Speisen Filtern"/>
            </fieldset>
        </form>
    </aside>
    <section class="col-md-9">
        <div class="row text-center">
            @for ( var i = 0 ; i < ( 4 < Model.Produkte.Count ? 4 : Model.Produkte.Count ) ; i++ ) {
                <div class="col-md-2" id="@Model.Produkte[i].Id">
                    <img src="data:image/gif;base64,@Model.Bilder.Find( x => x.Produkt == Model.Produkte [i].Id ).Binaerdaten" alt="@Model.Bilder.Find( x => x.Produkt == Model.Produkte [i].Id ).AltText"/>
                    <p class="font-weight-normal">@Model.Produkte[i].Name</p>
                    @*<a href="../view/detail.cshtml?id=@Model.Produkte[i].Id">Details</a>*@
                    @Html.ActionLink( "Details" , "Details" , "Home" , new { id = Model.Produkte [i].Id } , null )
                </div>
            }
        </div>
        <div class="row text-center">
            @for ( var i = 4 ; i < ( 8 < Model.Produkte.Count ? 8 : Model.Produkte.Count ) ; i++ ) {
                <div class="col-md-2" id="@Model.Produkte[i].Id">
                    <img src="data:image/gif;base64,@Model.Bilder.Find( x => x.Produkt == Model.Produkte [i].Id ).Binaerdaten" alt="@Model.Bilder.Find( x => x.Produkt == Model.Produkte [i].Id ).AltText"/>
                    <p class="font-weight-normal">@Model.Produkte[i].Name</p>
                    @*<a href="../view/detail.cshtml?id=@Model.Produkte[i].Id">Details</a>*@
                    @Html.ActionLink( "Details" , "Details" , "Home" , new { id = Model.Produkte [i].Id } , null )
                </div>
            }
        </div>

    </section>
</div>


</body>
</html>